
h2 {
  font-size: 20px;
}
.container {
  width: 100% !important;
  padding: 0px;
  margin: 0px;

}
#space {
  padding: 10px;
  margin-left: 20px;
}

.btn  {
  border: 3px;
  border-color: red;
  border-spacing: 2px
  text-decoration: none;
}

#fastfood {
  margin: 100px;
  border-radius: 4px;
  padding: 10px;
  padding-right: 0px;
  border: 1px solid #ddd;
  align-content: center;
  align-items: center;
  width: 510px;

}
#fastfood2 {
  margin: 0px 100px 100px 0px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ddd;
  align-content: left;
  align-items: left;
  width: 519px;

}
#fastfood-text {
  margin: 100px; 
  padding: 10px;
  padding-right: 10px;
  align-content: left;
  align-items: left;
  width: 410px;
}
#fastfood-text2 {
  margin: 0px 100px 100px 100px;
  padding: 10px;
 /* align-content: right;
  align-items: right;
  justify-content:right;*/
  width: 410px;
  font-size: 15px;
  text-align: right;
}
#first-button {
    background-color: white;
    color: #F15A29;
    border: 2px solid #F15A29;
    padding: 10px;
    border-radius: 0px;
    margin-top: 40px;

}

#mid-section-well {
  margin:100px;
  text-align: center;
  background-color: white;
  box-shadow: 8px;
}

#mid-products-images {
  margin: 50px;
  background-color: white;
}
#mid-products-images img {
  padding: 20px;
}

#products-nav {
  margin-bottom: 20px
  list-style: none;
}
.products-nav  ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.customers img {
  margin:10px;  
}
 

#hgt {
  height:80px;
  display: inline-block;
}
#white-text {
  color:white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

#banner {
  height: 100vh;
  width: 100%;
  background-image: url(../img/backgrounds/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner2 {
  height: 80vh;
  width: 100%;
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner3 {
  height: 47vh;
  width: 100%;
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner .row{
  text-align: center;

}
#banner-footer{
  margin-top: 0px;
  height: 40vh;
  width: 100%;
  background-color: #ea5d17;
  display: flex;
  justify-content:center;
  align-items:center;

}

#banner-footer .img{
 max-width: 400px;
  max-height: 300px;

}
.box {
  box-shadow: 10px;
}




/*#drinks{
    background-image: url(../img/foodtop/dinner.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}
#drinks2{
    background-image: url(../img/foodtop/dinner2.jpg);
    height:80px;
    width: 100%;

    background-repeat: no-repeat;


}
#drinks3{
    background-image: url(../img/foodtop/lunch.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}
#drinks4{
    background-image: url(../img/foodtop/breakfast.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}*/