/*#bkg-img{
background-image: url('../img/backgrounds/landing.jpg');
background-size: cover;
height: 100%;
width: 100%;
}
*/

.container {
  width: 100% !important;
  padding: 0px;
  margin: 0px;

}
#space {
  padding: 10px;
  margin-left: 20px;
}

.btn  {
  border: 3px;
  border-color: red;
  border-spacing: 2px
  text-decoration: none;
}

#fastfood {
  border: 3px;
  padding: 10px;

}
#fastfood img {

 /* box-shadow: 10px 10px;*/

}
#hgt {
  height:80px;
  display: inline-block;
}
#white-text {
  color:white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

#banner {
  height: 100vh;
  width: 100%;
  background-image: url(../img/backgrounds/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner2 {
  height: 80vh;
  width: 100%;
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner3 {
  height: 47vh;
  width: 100%;
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner .row{
  text-align: center;

}
#banner-footer{
  margin-top: 0px;
  height: 40vh;
  width: 100%;
  background-color: #ea5d17;
  display: flex;
  justify-content:center;
  align-items:center;

}

#banner-footer .img{
 max-width: 400px;
  max-height: 300px;

}




/*#drinks{
    background-image: url(../img/foodtop/dinner.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}
#drinks2{
    background-image: url(../img/foodtop/dinner2.jpg);
    height:80px;
    width: 100%;

    background-repeat: no-repeat;


}
#drinks3{
    background-image: url(../img/foodtop/lunch.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}
#drinks4{
    background-image: url(../img/foodtop/breakfast.jpg);
    height:80px;
    width: 100%;
    background-repeat: no-repeat;


}*/