* {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 20px;
}
.container {
  width: 100% !important;
  padding: 0px;
  margin: 0px;

}
#space {
  padding: 10px;
  margin-left: 20px;
}

.btn  {
  border: 3px;
  border-color: red;
  border-spacing: 2px
  text-decoration: none;
}

#fastfood {
  margin: 100px;
  border-radius: 4px;
  padding: 10px;
  padding-right: 0px;
  border: 1px solid #ddd;
  align-content: center;
  align-items: center;
  width: 510px;

}
#fastfood2 {
  margin: 0px 100px 100px 0px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #ddd;
  align-content: left;
  align-items: left;
  width: 519px;

}
#fastfood-text {
  margin: 100px; 
  padding: 10px;
  padding-right: 10px;
  align-content: left;
  align-items: left;
  width: 410px;
}
#fastfood-text2 {
  margin: 0px 100px 100px 100px;
  padding: 10px;
 /* align-content: right;
  align-items: right;
  justify-content:right;*/
  width: 410px;
  font-size: 15px;
  text-align: right;
}
#first-button {
    background-color: white;
    color: #F15A29;
    border: 2px solid #F15A29;
    padding: 10px;
    border-radius: 0px;
    margin-top: 40px;

}

#mid-section-well {
  margin:100px;
  text-align: center;
  background-color: white;
  box-shadow: 8px;
}
#hr {
  border-left: 5px;
  border-color:blue;
}

#mid-products-images {
  margin: 50px;
  background-color: white;
  list-style: none;
}
#mid-products-images img {
  padding: 20px;
}

#products-nav {
  margin-bottom: 20px
  list-style: none;
}

.product p {
color:black;
font-size: 20px;
}
.product1 p {
text-align: center;
vertical-align: center;
color:#F15A29;
font-size: 20px;
}
.products-nav  ul li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}
.customers img {
  margin:10px;  
}
.product {
  text-align: center;
  padding:15px;
  border: 5px;
  border-color: black;
  background-color: #d8d8d6;
}
.product1 {
  text-align: auto;
  padding:auto;
  vertical-align: center;
 
}

.product-name {
  text-align: center;
  padding:auto;
  
}
.form {
  color: white;
  font-size: 23px;
  font-family: 'Quicksand', sans-serif;
}
.product-name p {
color:#F15A29;
font-size: 20px;
  
}

 

#hgt {
  height:80px;
  display: inline-block;
}
#white-text {
  color:white;
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
}

#banner {
  height: 100vh;
  width: 100%;
  background-image: url(../img/backgrounds/landing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
#banner img, #banner p {
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner2 {
  height: 80vh;
  width: 100%;
  background-image: url(../img/backgrounds/foodsBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner3 {
  height: 47vh;
  width: 100%;
  background-image: url(../img/backgrounds/subscribe.jpg);
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  display: flex;
  justify-content:center;
  align-items:center;

}
#banner .row{
  text-align: center;

}
#banner-footer{
  margin-top: 0px;
  height: 40vh;
  width: 100%;
  background-color: #ea5d17;
  display: flex;
  justify-content:center;
  align-items:center;

}

#banner-footer .img{
 max-width: 400px;
  max-height: 300px;

}
.box {
  box-shadow: 10px;
}

#breakfast{
  height:210px;
  width: 25%;
  background: url('../img/foodtop/breakfast.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
  #breakfast:hover{
    opacity: 0.5;
    color: white;
  }
  #lunch:hover{
    opacity: 0.5;
    color: white;
  }
  #dinner:hover{
    opacity: 0.5;
    color: white;
  }
#lunch{
  height:210px;
  width: 24%;
  background: url('../img/foodtop/lunch.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 0;
  }
#dinner{
  height:210px;
  width: 24%;
  background: url('../img/foodtop/dinner.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 0;
  }
  #party-hour{
  background-color: #F15A29;
  height:105px;
  width: 110%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#happy-hour{

  background-color: white;
  height:105px;
  width: 110%;
  justify-content: center;
  align-items: center;
  display: flex;
}
#subsctiption{
  background-image: url(../ip2/assets/backgrounds/subscribe.jpg);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff ;
  font-size: 20px;
  
}
#email{
  background: inherit;
  color: #ffffff ;
  border-radius: 4px;
  width: 70%;
}
#button{
  background-color: #e65c00 ;
  font-size: 20px;
  color: #ffffff ; 
}
#spacer{
  margin-left: 30px;
}

#logo-white-caption{
  color: #ffffff;
}
#logo-white{
  float: center;
  padding: 20px;
  padding-bottom: 10px;
}
#caption{
  color: #ffffff;
  font-size:25px;
  /*padding-left: 30px;*/
}
.footer-logos{
  padding: 20px;
  float: right;
}

#copyright{
  color:#ffffff;
  font-size: 15px;
  margin-top: 35px;
  /*padding-left: 45px;*/
}
#footer-icons {
  padding: 0px 20px;
  margin-left: 15px;
}
#footer-items {
  background-color: #ea5d17;
  justify-content: center;
  margin-left:600px;
  color: white;
}
#slogan{
  margin-left: 40px;
}
/*OVERLAY MENU*/
 
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #ea5d17;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
